div
    div.left.listTitle Table List
    div.right
        input#buttonReturnExportList(
        type='button'
        value='Back'
        onclick='tab.clickTabExport();')
    div.clear
for table in tl
    div.createExportTableList
        div.tableListTableName
            input(type='button', value='#{table.n}', draggable='true')
            input.tableId(type='hidden', value='#{table.i}')
