.span3.ExporterDefine-Link-Block(
    class='#{linkClassName}'
    style='background-color: #{color}'
    data-name='.#{linkClassName}'
)
    i.icon-remove-circle.pointer(
        onclick='exporterDefineView.onRemoveLink(#{exporter.id}, #{fromBlockId});'    
    )
