.row-fluid(
        id='ExporterDefine-Table-#{blockId}-#{column.id}-Column'
        data-level='#{level}'
        data-block-id='#{blockId}'
        data-column-id='#{column.id}'
    )
    .span4(
        class='ExporterDefine-Table-#{column.id}-ColumnName'
    )
        span #{column.name}
        i.icon-resize-small.pointer(
            id='ExporterDefine-Link-#{blockId}-#{column.id}'
            data-toggle='popover'
            data-placement='right'
            data-content='Drag this to column.'
            data-original-title='Tips'
            onmouseover='exporterDefineView.onOverDragButton(this);'
            onmouseout='exporterDefineView.onOutDragButton(this);'
            draggable='true'
            data-exporter-id='#{exporter.id}'
            data-level='#{level}'
            data-block-id='#{blockId}'
            data-column-id='#{column.id}'
        )
    .span2.row-fluid(id='ExporterDefine-Table-#{blockId}-#{column.id}-Link')
    .span1
        input(type='radio'
            id='ExporterDefine-Table-#{blockId}-#{column.id}-PK'
            name='ExporterDefine-Table-#{blockId}-PK'
            onclick='exporterDefineView.onTablePKChange(#{exporter.id}, #{blockId}, #{column.id});'
        )
    .span1
        input(type='checkbox'
            id='ExporterDefine-Table-#{blockId}-#{column.id}-Choose'
            onclick='exporterDefineView.onTableChooseChange(#{exporter.id}, #{blockId}, #{column.id}, this);'
        )
    input.span4(type='text'
        placeholder='Rename'
        id='ExporterDefine-Table-#{blockId}-#{column.id}-Rename'
        onkeyup='exporterDefineView.onTableChooseRename(#{exporter.id}, #{blockId}, #{column.id}, this);'
    )
