div(
    id='ExporterDefine-Block-#{blockId}'
    class='ExporterDefine-Table-#{table.id}'
)
    .row-fluid
        strong.span5 #{table.name}
        .span2 
            i.icon-remove-circle.pointer(onclick='exporterDefineView.onRemoveTable(#{exporter.id}, #{level}, #{table.id}, #{blockId});')
        .span4.row-fluid
            - if (level != 1)
                input.span12(type='text'
                    id='ExporterDefine-PreLevelName-#{blockId}'
                    placeholder='Rename'
                    onkeyup='exporterDefineView.onBlockNameChange(#{exporter.id}, #{blockId}, this);'
                    value='#{preLevelName}'
                )
    div(
        class='ExporterDefine-Columns-TableId-#{table.id} ExporterDefine-Columns-BlockId-#{blockId}'
        data-level='#{level}'
        data-block-id='#{blockId}'
        data-table-id='#{table.id}'
    )
        .row-fluid
            .span4 Column
            .span2 Link
            .span1 PK
            .span1 Choose
            .span4
    hr
