.span4.ExporterDefine-Link-Block.border(
    class='#{linkClassName} ExporterDefine-Link-Column-#{fromColumnId} ExporterDefine-Link-Column-#{toColumnId} ExporterDefine-Link-FromTable-#{fromTableId} ExporterDefine-Link-ToTable-#{toTableId} ExporterDefine-Link-FromBlock-#{fromBlockId} ExporterDefine-Link-ToBlock-#{toBlockId}'
    style='background-color: #{color};'
    data-name='.#{linkClassName}'
)
    i.icon-remove-circle.pointer(
        onclick='exporterDefineView.onRemoveLink(#{exporter.id}, #{fromBlockId});'    
    )
