.row-fluid(
        id='ExporterDefine-Table-root-#{column.id}-Column'
        class='ExporterDefine-Table-Column-#{column.id}'
        data-level='1'
        data-block-id='root'
        data-column-id='#{column.id}'
    )
    .span4(
        class='ExporterDefine-Table-#{column.id}-ColumnName'
    ) #{column.name}
    .span2.row-fluid(id='ExporterDefine-Table-root-#{column.id}-Link') 
    .span1
        input(type='radio'
            id='ExporterDefine-RootTable-#{column.id}-PK'
            name='ExporterDefine-RootTable-PK'
            onclick='exporterDefineView.onRootTablePKChange(#{exporter.id}, #{column.id});'
        )
    .span1
        input(type='checkbox'
            id='ExporterDefine-RootTable-#{column.id}-Choose'
            onclick='exporterDefineView.onRootTableChooseChange(#{exporter.id}, #{column.id}, this);'
        )
    input.span4(type='text'
        placeholder='Rename'
        id='ExporterDefine-RootTable-#{column.id}-Rename'
        onkeyup='exporterDefineView.onRootTableChooseRename(#{exporter.id}, #{column.id}, this);'
    )
