h2#ExporterDefine.text-info(data-id='#{exporter.id}') Exporter Define
hr
.row-fluid
    .span7
        .input-prepend
            span.add-on.span4 Id
            input.span6(
                id='ExporterDefine-Exporter-#{exporter.id}-Id'
                type="text"
                value='#{exporter.id}'
                disabled
            )
        .input-prepend
            span.add-on.span4 Name
            input.span6(
                id='ExporterDefine-Exporter-#{exporter.id}-Name'
                type="text"
                value='#{exporter.name}'
                onkeyup='exporterDefineView.onExporterNameChange(#{exporter.id}, this);'
            )
        .input-prepend
            span.add-on.span4 Description
            input.span6(
                id='ExporterDefine-Exporter-#{exporter.id}-Description'
                type="text"
                value='#{exporter.description}'
                onkeyup='exporterDefineView.onExporterDescriptionChange(#{exporter.id}, this);'
            )
        .input-prepend
            span.add-on.span4 Path
            input.span6(
                id='ExporterDefine-Exporter-#{exporter.id}-Path'
                type="text"
                value='#{exporter.path}'
                onkeyup='exporterDefineView.onExporterPathChange(#{exporter.id}, this);'
                placeholder='/home/ParaNoidz_Studio/ila.json'
            )
        .input-prepend
            span.add-on.span4 Root Table
            select.span6(
                id='ExporterDefine-Exporter-#{exporter.id}-RootTable'
                class='ExporterDefine-Table-Select'
                onclick='exporterDefineView.onRootTableClick(#{exporter.id}, this);'
                onchange='exporterDefineView.onRootTableChange(#{exporter.id}, this);'
            )
    .span3
        #Exporter-Status.alert.alert-success
        hr
        .row-fluid
            .span6
                input(value='Add Level'
                    type='button'
                    class='btn btn-large'
                    onclick='exporterDefineView.onAddLevel(#{exporter.id});'
                )
            .span6
                input(value='Check'
                    type='button'
                    class='btn btn-large'
                    onclick='exporterDefineView.onCheck(#{exporter.id});'
                )
hr
.row-fluid
    #ExporterDefine-Levels.span12.row-fluid
