.row(id='TableData-Row-#{row.c0}')
    for cell, i in row.args
        - if (i !== 0)
            .span3(
                id='TableData-#{row.c0}-#{i}-Cell'
                onclick='tableDataView.enterInputModel(#{tableId}, #{row.c0}, #{i}, this);'
            ) #{row.args[i]}
