input#TableData-Input(type='text'
    onblur='tableDataView.leaveInputModel(#{rowId}, #{columnId}, this);'
    onkeyup='tableDataView.onDataChange(#{tableId}, #{rowId}, #{columnId}, this);'
    value='#{value}'
)
