h2#TableData-Header.text-info Table Data: #{table.name}
div(id='TableData-#{table.id}-Sheet')
    #TableData-Title
        .TableData-Index-Column.inline
            #TableData-Index-LastRow
                input.btn.btn-mini(
                    type='button'
                    value='New Row'
                    onclick='tableDataView.createData(#{table.id});'
                )
        #TableData-Column-Header.inline
            for column in columnList.list 
                .TableData-Column-Header.inline
                    strong(id='TableData-Header-Column-#{column.id}-Name') #{column.name}
                    span(id='TableData-Header-Column-#{column.id}-Type') (#{column.type})
    p
    #TableData-Body
        #TableData-Index.left
        #TableData-Data.left
