.row-fluid(id='TableDefine-Column-#{column.id}-Div')
    .span2.input-prepend
        span.span4.add-on #{column.id}
        input.span8(
            id='TableDefine-Column-#{column.id}-Name'
            type="text"
            value='#{column.name}'
            onkeyup='tableDefineView.onColumnNameChange(#{listId}, #{column.id}, this);'
        )
    .span1
        input.IsPK(
            id='TableDefine-Column-#{column.id}-IsPK'
            type="checkbox"
            checked=column.isPK==1
            onchange='tableDefineView.onColumnIsPKChange(#{listId}, #{column.id}, this);'
        )
    .span1
        input.AllowEmpty(
            id='TableDefine-Column-#{column.id}-AllowEmpty'
            type="checkbox"
            checked=column.allowEmpty==1
            onchange='tableDefineView.onColumnAllowEmptyChange(#{listId}, #{column.id}, this);'
        )
    .span2
        select.Type.span12(
            id='TableDefine-Column-#{column.id}-Type'
            onchange='tableDefineView.onColumnTypeChange(#{listId}, #{column.id}, this);'
        )
            option(value="number", selected=column.type == 'number') number
            option(value="string", selected=column.type == 'string') string
            option(value="json", selected=column.type == 'json') json
    .span2
        input.span12.Description(
            id='TableDefine-Column-#{column.id}-Description'
            type="text"
            value='#{column.description}'
            onkeyup='tableDefineView.onColumnDescriptionChange(#{listId}, #{column.id}, this);'
        )
    .span1
        input.btn(
            type="button"
            value="Del"
            onclick='tableDefineView.delColumn(#{listId}, #{column.id});'
        )
