.row-fluid.TableData-LineNo(id='TableData-Index-#{row.c0}')
    .span6= row.c0
    .span1
        i.icon-remove-circle.pointer(
            data-table-id='#{tableId}'
            data-row-id='#{row.c0}'
        )
