.TableData-LineNo(id='TableData-Index-#{row.c0}')
    .inline
        i.icon-remove-circle.pointer(
            data-table-id='#{tableId}'
            data-row-id='#{row.c0}'
        )
    .inline= row.c0
