.TableData-Row(id='TableData-Row-#{row.c0}')
    for cell, i in row.args
        - if (i !== 0)
            .TableData-Cell.pointer.inline(
                id='TableData-#{row.c0}-#{i}-Cell'
                data-table-id='#{tableId}'
                data-row-id='#{row.c0}'
                data-column-id='#{i}'
            ) #{row.args[i]}
