h2.text-info Table Define
hr
.row-fluid
    .span8
        .input-prepend
            span.add-on.span4 Id
            input.span6(
                id='TableDefine-Table-#{table.id}-Id'
                type="text"
                value='#{table.id}'
                disabled
            )
        .input-prepend
            span.add-on.span4 Name
            input.span6(
                id='TableDefine-Table-#{table.id}-Name'
                type="text"
                value='#{table.name}'
                onkeyup='tableDefineView.onTableNameChange(#{table.id}, this);'
            )
        .input-prepend
            span.add-on.span4 Description
            input.span6(
                id='TableDefine-Table-#{table.id}-Description'
                type="text"
                value='#{table.description}'
                onkeyup='tableDefineView.onTableDescriptionChange(#{table.id}, this);'
            )
hr                
.row-fluid
    h5.span2 Column
    h5.span1 IsPK
    h5.span1 AllowEmpty
    h5.span2 Type
    h5.span1 Client
    h5.span1 Server
    h5.span2 Description
    h5.span1 Del
#ColumnList
.row-fluid
    .span6
        input.btn(
            type='button'
            value='Add Column'
            onclick='tableDefineView.addColumn(#{table.id});'
        )
