h2.text-info Table Define
hr
div.row-fluid
    div.span8
        div.input-prepend
            span.add-on.span4 Name
            input.span6(
                id='TableDefine-Table-#{table.id}-Name'
                type="text"
                value='#{table.name}'
                onkeyup='tableDefineView.onTableNameChange(#{table.id}, this);'
            )
        div.input-prepend
            span.add-on.span4 Description
            input.span6(
                id='TableDefine-Table-#{table.id}-Description'
                type="text"
                value='#{table.description}'
                onkeyup='tableDefineView.onTableDescriptionChange(#{table.id}, this);'
            )
div.row-fluid
    h5.span2 Column
    h5.span1 IsPK
    h5.span1 AllowEmpty
    h5.span2 Type
    h5.span1 Client
    h5.span1 Server
    h5.span2 Description
    h5.span1 Add
    h5.span1 Del
div#CreateTableStructure-Option
