.row-fluid(id='TableList-Table-#{table.id}')
    .btn-group.offset1
        button.btn(
            id='TableList-Table-#{table.id}-Name'
            onclick='tableListView.openTableData(#{table.id});'
        ) #{table.name}
        button.btn.dropdown-toggle(data-toggle='dropdown')
            span.caret
        ul.dropdown-menu
            li
                a(href='#'
                    onclick='tableListView.openTableDefine(#{table.id});'
                ) Define
            li
                a(href='#'
                    onclick='dialogView.renderImportTableData(#{table.id});'
                ) Import Data
            li.divider
            li
                a(href='#'
                    onclick='dialogView.renderDeleteTableConfirm(#{table.id});'
                ) Delete
