for table in tl
    div.btn-group
        button.btn #{table.n}
        button.btn.dropdown-toggle(data-toggle='dropdown')
            span.caret
        ul.dropdown-menu
            li
                a(href='#', data-toggle='tab') Delete
            li.divider
            li
                a(href='#', data-toggle='tab') Structure
            li
                a(href='#', data-toggle='tab') Import Data

//        div.left.tableListTableName
//            input.buttonTableListTableName(
//            type='button'
//            value='#{table.n}'
//            onclick='table.clickTableName(#{table.i});')
//        div.left.tableListButtons
//            input.buttonTableListStructure(
//                type='button'
//                value='Structure'
//                onclick='table.clickStructure(#{table.i});')
//            input.buttonTableListImport(
//                type='button'
//                value='Import'
//                onclick='table.clickImport("#{table.n}");')
//        div.clear
