div#createExport
    div
        div.left 
            span FileName:
            input#createFileName(type='text')
        div.left
            span Description:
            input#createExportDescription(type='text')
        div.left
            input(type='button',
                value='Create',
                onclick='exporter.createExport();')
        div.clear
    hr
    div
        div#exportSetting
            div#exportSettingTabs
                ul
                    li
                        a(href='#exportTabClient', onclick='graph.switchTab("client");') Client
                    li
                        a(href='#exportTabServer', onclick='graph.switchTab("server");') Server
                div#exportTabClient
                    div
                        input.exportGraph(type='button',
                            value='Add Level',
                            onclick='exporter.addLevel(this);')
                    div.graph
                div#exportTabServer
                    canvas#serverCanvas.canvas
                    div
                        input.exportGraph(type='button',
                            value='Add Level',
                            onclick='exporter.addLevel(this);')
                    div.graph
    canvas#canvas
