div#createExport
    div
        div.left 
            span ExportName:
            input#createExportName(type='text')
        div.left
            span Description:
            input#createExportDescription(type='text')
        div.left
            input(type='button',
                value='Create',
                onclick='exporter.createExport();')
        div.clear
    hr
    div
        div#exportSetting
            div#exportSettingTabs
                ul
                    li
                        a(href='#exportTabClient', onclick='exporter.switchTab("client");') Client
                    li
                        a(href='#exportTabServer', onclick='exporter.switchTab("server");') Server
                div#exportTabClient
                    div
                        span Filename
                        input#clientFileName(type='text')
                        span Path
                        input#clientPath(type='text')
                        input.delLink(type='button',
                            value='Del Link',
                            onclick='exporter.delLink();')
                    div
                        input.exportGraph(type='button',
                            value='Add Level',
                            onclick='exporter.addLevel(this);')
                    div.graph
                div#exportTabServer
                    div
                        span Filename
                        input#serverFileName(type='text')
                        span Path
                        input#serverPath(type='text')
                        input.delLink(type='button',
                            value='Del Link',
                            onclick='exporter.delLink();')
                    div
                        input.exportGraph(type='button',
                            value='Add Level',
                            onclick='exporter.addLevel(this);')
                    div.graph
        canvas#canvas(width='1000', height='1000')
