div#modifyExport
    div
        div.left 
            span ExportName:
            input#modifyExportName(type='text', value='#{e.n}')
        div.left
            span Description:
            input#modifyExportDescription(type='text', value='#{e.d}')
        div.left
            input(type='button',
                value='Modify',
                onclick='exporter.modifyExport(#{e.i});')
        div.left
            input(type='button',
                value='Delete',
                onclick='exporter.deleteExport(#{e.i});')
        div.clear
    hr
    div
        div#exportSetting
            div#exportSettingTabs
                ul
                    li
                        a#exportTabButtonClient(href='#exportTabClient') Client
                    li
                        a#exportTabButtonServer(href='#exportTabServer') Server
                div#exportTabClient
                    div
                        span Filename
                        input#clientFileName(type='text', value='#{ecc.fn}')
                        span Path
                        input#clientPath(type='text', value='#{ecc.p}')
                        input.delLink(type='button',
                            value='Del Link',
                            onclick='exporter.delLink();')
                    div
                        input.buttonAddLevel(type='button',
                            value='Add Level')
                    div.graph
                div#exportTabServer
                    div
                        span Filename
                        input#serverFileName(type='text', value='#{ecs.fn}')
                        span Path
                        input#serverPath(type='text', value='#{ecs.p}')
                        input.delLink(type='button',
                            value='Del Link',
                            onclick='exporter.delLink();')
                    div
                        input.buttonAddLevel(type='button',
                            value='Add Level')
                    div.graph
        canvas#canvas(width='1000', height='1000')
