div#modifyStructure
    div
        div.left 
            span TableName:
            input#modifyStructureName(
                type='text'
                value='#{t.n}')
            input#modifyStructureTableId(
                type='hidden'
                value='#{t.i}')
        div.left
            span Description:
            input#modifyStructureDescription(
                type='text'
                value='#{t.d}')
        div.left
            input(type='button',
                value='Modify',
                onclick='table.modifyStructure(#{t.i});')
        div.clear
    div#columns
        div
            div.modifyStructureTitleId.left Id
            div.modifyStructureTitleColumn.left Column
            div.modifyStructureTitleIsPK.left isPK
            div.modifyStructureTitleAllowEmpty.left allowEmpty
            div.modifyStructureTitleType.left Type
            div.modifyStructureTitleClient.left Client
            div.modifyStructureTitleServer.left Server
            div.modifyStructureTitleDescription.left Description
            div.modifyStructureTitleAddColumn.left Add
            div.modifyStructureTitleDelColumn.left Del
            div.clear
        div#modifyStructureOption
            for structure in sl
                div.modifyStructureOption
                    div.modifyStructureTitleId.left
                        input.modifyStructureId(type='text', value='#{structure.i}')
                    div.modifyStructureTitleColumn.left
                        input.modifyStructureColumn(
                            type='text'
                            value='#{structure.n}'
                        )
                    div.modifyStructureTitleIsPK.left
                        if structure.ipk == 1
                            input.modifyStructureIsPK(type='checkbox', checked='checked')
                        else
                            input.modifyStructureIsPK(type='checkbox')
                    div.modifyStructureTitleAllowEmpty.left
                        if structure.ae == 1
                            input.modifyStructureAllowEmpty(type='checkbox', checked='checked')
                        else
                            input.modifyStructureAllowEmpty(type='checkbox')
                    div.modifyStructureTitleType.left
                        select.modifyStructureType
                            if structure.t == 'number'
                                option(value='number', selected='selected') number
                            if structure.t == 'string'
                                option(value='string', selected='selected') string
                            if structure.t == 'json'
                                option(value='json', selected='selected') json
                    div.modifyStructureTitleClient.left
                        if structure.c == 1
                            input.modifyStructureClient(type='checkbox', checked='checked')
                        else
                            input.modifyStructureClient(type='checkbox')
                    div.modifyStructureTitleServer.left
                        if structure.s == 1
                            input.modifyStructureServer(type='checkbox', checked='checked')
                        else 
                            input.modifyStructureServer(type='checkbox')
                    div.modifyStructureTitleDescription.left
                        input.modifyStructureDescription(
                            type='text'
                            value='#{structure.d}')
                    div.modifyStructureTitleAddColumn.left
                        input.modifyStructureAddColumn(
                            type='button'
                            onclick='table.addColumn();'
                            value='Add')
                    div.modifyStructureTitleDelColumn.left
                        input.modifyStructureDelColumn(
                            type='button'
                            onclick='table.delColumn(this);'
                            value='Del')
                    div.clear
