for table in tl
    div.tableList(
        onmouseover='table.mouseoverTableList(this);'
        onmouseout='table.mouseoutTableList(this);')
        div.left.tableListTableName
            input.buttonTableListTableName(
            type='button'
            value='#{table.n}'
            onclick='table.clickTableName(#{table.i});')
        div.left.tableListButtons.hide
            input.buttonTableListStructure(
                type='button'
                value='Structure'
                onclick='table.clickStructure(#{table.i});')
            input.buttonTableListImport(
                type='button'
                value='Import'
                onclick='table.clickImport("#{table.n}");')
        div.clear
